body {
  background-color: #191a23;
  color: #f5f6f7;
  font-size: 17px;
  line-height: 2;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #f5f6f7;
  letter-spacing: 1.5px;
}

code {
  background-color: #262833;
  color: #b9b9b9;
}

.navbar.fixed-top {
  position: absolute;
}

.navbar-brand {
  color: #f5f6f7;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.15em;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  color: #f5f6f7;
} 

.navbar-nav {
  padding-left: 2vw;
}

.nav-link {
  font-weight: 400;
  color: #f5f6f7;
  letter-spacing: 1.5px;
  padding: 0.5rem 1rem 0;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #b9b9b9;
}  

.home-hero {
  min-height: 650px;
  margin-bottom: 6rem;
}

.home-text {
  max-width: 30vw;
}

.home-hero .h1, h1 {
  font-size: 2.5rem;
}

.homepage-image {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw / 1.8);
}

.home-text,
.latest-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.latest a {
  color: #f5f6f7;
}

.card,
.card-img-top {
  border-radius: 0;
}

.card {
  background-color: #12131b;
  border: 0;
}

.card p {
  color: #f5f6f7;
}

pre {
  background-color: #12131b !important;
}

a {
  color: #b9b9b9;
}

a:hover,
a:focus,
a:active {
  color: #b9b9b9;
}

.text-muted {
  color: #b9b9b9 !important;
}

blockquote {
  color: #b9b9b9 !important;
  opacity: 0.6;
  border-left: 6px solid #b9b9b9;
}

.author .name a, 
.author .social a {
  color: #b9b9b9;
}  

.footer {
  background-color: #0c0d13;
}

.footer a {
  color: #384952;
}

.text-copyright {
  color: #b9b9b9;
}

.dots {
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.about-image {
  border-radius: 100%;
}

pre {
  padding: 20px;
  color: #f5f6f7;
  background: #434343; }

body .gist .line-data, body .gist .file-data, body .gist .line-numbers {
  color: #f5f6f7;
  background: #434343; }
body .gist .gist-meta {
  color: #f5f6f7;
  background: #0c0d13; }
body .gist .pl-vo, body .gist .pl-v, body .gist .pl-vpf {
  color: #f5f6f7; }
body .gist .blob-code {
  color: #c7c7c7 !important; }
body .gist .blob-code, .gist .blob-num {
  color: #c7c7c7 !important; }
body .gist .pl-s .pl-s1, .gist .pl-smi {
  color: #989696 !important;}
body .gist .pl-en, body .gist .pl-c1, body .gist .pl-s3 {
  color: #ECAC29; }
body .gist .pl-k, body .gist .pl-st {
  color: #7373F2; }
body .gist .pl-s1, body .gist .pl-pds {
  color: #76A22F; }

body .gist .blob-code, .gist .blob-num, .gist .gist-data {
  background: #12131b !important;
  background-color: #12131b;
  border: 0 !important;
}

body .gist .gist-file {
  border: 0 !important;
}


@media (min-width: 1700px) {
  .homepage-image {
    width: calc(100vw / 2.4);
  }
}

@media (min-width: 1500px) {
  .homepage-image {
    width: calc(100vw / 2.1);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .home-text h1 {
    font-size: 45px;
  }

  .home-text h4 {
    font-size: 24px;
  }
}

@media (max-width: 1280px) {
  .navbar-brand {
    padding: 0;
  }
  .home-hero {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .home-text {
    max-width: 100vw;
  }
}

@media (max-width: 800px) {
  .homepage-image {
    width: calc(100vw / 1.7);
  }

  .home-text h1, h4 {
    max-width: 40%
  }
}

@media (max-width: 600px) {
  .homepage-image {
    width: calc(100vw / 1.2);
    top: 65px;
  }

  .home-text {
    justify-content: flex-end;
  }

  .home-text h1, h4 {
    max-width: 100%
  }

  .navbar-light {
    background-color: #eaeaea;
  }
}
