body {
  background-color: #191a23;
  color: #f5f6f7;
  font-size: 17px;
  line-height: 1.6;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #f5f6f7;
  letter-spacing: 1.5px;
}

code {
  background-color: #d0d0d0;
}

.navbar.fixed-top {
  position: absolute;
}

.navbar-brand {
  color: #f5f6f7;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.15em;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  color: #f5f6f7;
} 

.navbar-nav {
  padding-left: 2vw;
}

.nav-link {
  font-weight: 400;
  color: #f5f6f7;
  letter-spacing: 1.5px;
  padding: 0.5rem 1rem 0;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #b9b9b9;
}  

.home-hero {
  min-height: 650px;
  margin-bottom: 6rem;
}

.home-text {
  max-width: 30vw;
}

.home-hero .h1, h1 {
  font-size: 2.5rem;
}

.homepage-image {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw / 1.8);
}

.home-text,
.latest-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.latest a {
  color: #f5f6f7;
}

.card,
.card-img-top {
  border-radius: 0;
}

.card {
  background-color: #12131b;
  border: 0;
}

.card p, a {
  color: #f5f6f7;
}

a:hover,
a:focus,
a:active {
  color: #f5f6f7;
}

.text-muted {
  color: #b9b9b9 !important;
}

blockquote {
  color: #b9b9b9 !important;
  opacity: 0.6;
  border-left: 6px solid #737c84;
}

.author .name a, 
.author .social a {
  color: #b9b9b9;
}  

.footer {
  background-color: #171822;
}

.footer a {
  color: #384952;
}

.text-copyright {
  color: #b9b9b9;
}

.dots {
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.about-image {
  border-radius: 100%;
}

@media (min-width: 1700px) {
  .homepage-image {
    width: calc(100vw / 2.4);
  }
}

@media (min-width: 1500px) {
  .homepage-image {
    width: calc(100vw / 2.1);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .home-text h1 {
    font-size: 45px;
  }

  .home-text h4 {
    font-size: 24px;
  }
}

@media (max-width: 1280px) {
  .home-hero {
    min-height: 550px;
  }
}

@media (max-width: 1024px) {
  .home-hero {
    min-height: 450px;
  }
}

@media (max-width: 800px) {
  .homepage-image {
    width: calc(100vw / 1.7);
  }

  .home-text h1, h4 {
    max-width: 40%
  }
}

@media (max-width: 600px) {
  .homepage-image {
    width: calc(100vw / 1.4);
    top: 56px;
  }

  .home-text {
    justify-content: flex-end;
  }

  .home-text h1, h4 {
    max-width: 100%
  }

  .navbar-light {
    background-color: #eaeaea;
  }
}
